@charset "utf-8";


/*header*/
#header{position: relative;}
#header.main{height: 1950px;}

/*header_top*/
#header_top{
	width: 1260px;height: 60px;position:fixed;background-color:rgba(0,0,0,0.3);
	left: 50%;transform:translateX(-50%);top: 30px;border-radius:30px;
	z-index:1;
}
#header_top h1{float: left;line-height: 60px;padding-left: 30px;}
#header_top h1 a{color:white;font-weight:bold;}
#header_top #main_menu{position: absolute;left: 50%;transform:translateX(-50%);}
#main_menu>ul>li{float: left;}
#main_menu a{
	display: block;line-height: 60px;padding: 0 30px;
	color:white;font-weight:bold;
}
#main_menu a:after{
	content:"";display: block;width: 0;height: 2px;
	background:#fff;transition:0.3s;margin: 0 auto;
}
#main_menu a:hover:after{width: 100%;}
#header_top .toggleMenu{
	width: 25px;height: 25px;position: absolute;right:30px;top: 20px;
	z-index:1;cursor:pointer;
}
#header_top .toggleMenu div{
	width:25px;height:2px;background-color:#fff;
	border-radius:2px;position:absolute;
	transition:0.3s;
}
#header_top .toggleMenu .bar1{top:2px;}
#header_top .toggleMenu .bar2{top:10px;}
#header_top .toggleMenu .bar3{top:18px;}



/*slider_wrap*/
.slider_wrap ul li{height: 1005px;}
.slider_wrap li.first{
	background:url(../images/imgs/main04.png) no-repeat center;
	background-size: cover;
}
.slider_wrap li.second{
	background:url(../images/imgs/main04.png) no-repeat center;
	background-size: cover;
}
.slider_wrap .slider_txt{
	width: 700px;position: absolute;
	left: 50%;transform:translateX(-50%);
	top: 30%;color:white;
	text-align: center;
}
.slider_wrap h3{font-size:3.5em;text-shadow:0 0 10px #000;}
.slider_wrap h3:after{
	content:"";display: block;width: 300px;height: 3px;
	background: #fff;margin: 20px auto;
}

.slider_wrap .bx-wrapper{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:0 none;
    margin-bottom: 0;
}
.slider_wrap .bx-pager{bottom: 350px;}



/*content*/
#header .content{
	width: 1260px;height: 1260px;position: absolute;left: 50%;
	transform:translateX(-50%);background-color: #fff;
	bottom: 80px;
}
		.content>ul>li{
			float: left;width: 25%;height: 315px;position: relative;
		}
/*con1*/
		.content>ul>li.con1{background:#fff;}
		.content>ul>li.con1>a{
			left: 50%;top: 50%;transform:translate(-50%,-50%);position: absolute;
		} 
		.content>ul>li.con1>a>img{margin: 0 auto;}
		.content>ul>li.con1>a>p{text-align: center;font-weight: bold}
/*con2*/
		.content>ul>li.con2{background-image: url(../images/imgs/img02.png);}
		.content>ul>li.con2>a{
			left: 50%;top: 50%;transform:translate(-50%,-50%);position: absolute;
		} 
		.content>ul>li.con2>a>img{margin: 0 auto;}
/*con3*/
		.content>ul>li.con3{
			background:#fff;
			padding: 58px;position: relative;
		}
		.content>ul>li.con3>div.btn{
			width: 90px;height: 45px;
			position: absolute;right: 58px;
		}
		.content>ul>li.con3>.btn>.nextBtnCon3{position: absolute;left: 45px;}
		.content>ul>li.con3>.btn>.prevBtnCon3{position: absolute;}

		.content>ul>li.con3 .bx-wrapper {
    		-moz-box-shadow: none;
    		-webkit-box-shadow: none;
    		box-shadow: none;
    		border: none;
    		background:none;
		}
/*con4*/
		.content>ul>li.con4 .bx-wrapper {
    		-moz-box-shadow: none;
    		-webkit-box-shadow: none;
    		box-shadow: none;
    		border: none;
    		background:none;
		}
/*con5*/
		.content>ul>li.con5{background:#ddd;}
		.content>ul>li.con5>a{
			left: 50%;top: 50%;transform:translate(-50%,-50%);position: absolute;
		} 
		.content>ul>li.con5>a>img{margin: 0 auto;}
		.content>ul>li.con5>a>p{text-align: center;font-weight: bold}
/*con6*/
		.content>ul>li.con6{background:#222;}
		.content>ul>li.con6>a{
			left: 50%;top: 50%;transform:translate(-50%,-50%);position: absolute;
		}
		.content>ul>li.con6>a>img{margin: 0 auto;}
		.content>ul>li.con6>a>p{text-align: center;font-weight: bold;color:#fff;}

/*con7*/
		.content>ul>li.con7{
			width: 50%;
		}
		.content>ul>li.con7>a>p{text-align: center;font-weight: bold;color:#fff;}
/*con8*/
		.content>ul>li.con8{
			height: 630px;
		}
/*con9*/
		.content>ul>li.con9{
			width: 50%;
		}
/*con10*/
		.content>ul>li.con10{background:#000;}
		.content>ul>li.con10>a{
			left: 50%;top: 50%;transform:translate(-50%,-50%);position: absolute;
		} 
		.content>ul>li.con10>a>img{margin: 0 auto;}
		.content>ul>li.con10>a>p{text-align: center;font-weight: bold;color:#fff;}
/*con11*/
		.content>ul>li.con11{background:#54565a;}
		.content>ul>li.con11>a{
			left: 50%;top: 50%;transform:translate(-50%,-50%);position: absolute;
		} 
		.content>ul>li.con11>a>img{margin: 0 auto;}
		.content>ul>li.con11>a>p{text-align: center;font-weight: bold;color:#fff;}
/*con12*/
		.content>ul>li.con12{
			width: 50%;
		}




/*shop*/
#shop{width: 100%;height: 730px;background: #eee;position: relative;}
#shop>h1{
	font-size:2em;text-align: center;padding:80px 0 80px 0;
}

.shop_slider_wrap{width: 1260px;margin: 0 auto;}
.shop_slider_wrap li{width: 187px !important;float: left;margin-right: 81px;}
.shop_slider_wrap li p{padding: 13px 0;font-size:0.9em;}
.shop_slider_wrap li h4{font-size:1.2em;}
.shop_slider_wrap .bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border:0 none;
    background:none;
}


/*sns*/
#sns{width: 1260px;margin: 0 auto;padding: 80px 0;position: relative;}

#sns .sns_content{
	width: 315px;height: 630px;background: #222;float: left;
}
#sns .sns_content .txtWrap{padding: 80px 45px;color:#fff;}
#sns .sns_content .txtWrap .icon{margin: 0 auto;}
#sns .sns_content .txtWrap h1{padding: 30px 0;font-size:2em;text-align: center;}
#sns .sns_content .txtWrap p{font-size:0.8em;padding-bottom: 20px;}
#sns .sns_content .txtWrap a{
	font-size:0.8em;display: block;
	color:#fff;width: 110px;height: 30px;
	line-height: 30px;
	border-radius:15px;border: 1px solid #fff;
	text-align: center;
}
#sns .sns_content .txtWrap a:hover{
	color:#ffff5e;border: 1px solid #ffff5e;
}


#sns .sSliderWrap{width: 945px;height: 630px;background: red;float: right;}
#sns .sSliderWrap .sSlider{}
#sns .sSliderWrap .sSlider li{float: left;width: 315px;height: 630px;_background:red;}
#sns .sSliderWrap .sSlider .snsConTxt{
	position: relative;
	width: 315px;height: 315px;background: #ededee;
	padding: 50px;font-size:0.8em;color:#333;
}
#sns .sSliderWrap .sSlider .snsConTxt h1{
	position: absolute;bottom: 50px;left:50px;
	font-size:1.2em;cursor:pointer;
}
#sns .sSliderWrap .sSlider .snsConTxt h1:hover{color:red;}
#sns .sSliderWrap .sSlider img{width: 315px;height: 315px;overflow: hidden;}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    background:none;
}
#sns .snsButton{
	position: absolute;width: 90px;height: 45px;
	left: 180px;bottom: 160px;cursor:pointer;
}
#sns .snsButton .sns_nextBtn{position: absolute;right: 0;top: 0;}