@charset "utf-8";


/*header*/
#header{position: relative;}
#header.main{height: 1950px;}
#header_top{
	width: 1260px;height: 60px;position:fixed;background-color:rgba(0,0,0,0.3);
	left: 50%;transform:translateX(-50%);top: 30px;border-radius:30px;
	z-index:1;
}
#header_top h1{float: left;line-height: 60px;padding-left: 30px;}
#header_top h1 a{color:white;font-weight:bold;}
#header_top #main_menu{position: absolute;left: 50%;transform:translateX(-50%);}
#main_menu>ul>li{float: left;}
#main_menu a{
	display: block;line-height: 60px;padding: 0 30px;
	color:white;font-weight:bold;
}
#main_menu a:after{
	content:"";display: block;width: 0;height: 2px;
	background:#fff;transition:0.3s;margin: 0 auto;
}
#main_menu a:hover:after{width: 100%;}
#header_top .toggleMenu{
	width: 25px;height: 25px;position: absolute;right:30px;top: 20px;
	z-index:1;cursor:pointer;
}
#header_top .toggleMenu div{
	width:25px;height:2px;background-color:#fff;
	border-radius:2px;position:absolute;
	transition:0.3s;
}
#header_top .toggleMenu .bar1{top:2px;}
#header_top .toggleMenu .bar2{top:10px;}
#header_top .toggleMenu .bar3{top:18px;}

/*bxslider*/
.slider_wrap ul li{height: 1005px;}
.slider_wrap li.first{
	background:url(../images/imgs/main04.png) no-repeat center;
	background-size: cover;
}
.slider_wrap li.second{
	background:url(../images/imgs/main04.png) no-repeat center;
	background-size: cover;
}
.slider_wrap .slider_txt{
	width: 700px;position: absolute;
	left: 50%;transform:translateX(-50%);
	top: 30%;color:white;
	text-align: center;
}
.slider_wrap h3{font-size:3.5em;text-shadow:0 0 10px #000;}
.slider_wrap h3:after{
	content:"";display: block;width: 300px;height: 3px;
	background: #fff;margin: 20px auto;
}

.slider_wrap .bx-wrapper{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:0 none;
    margin-bottom: 0;
}
.slider_wrap .bx-pager{bottom: 350px;}

/*content*/
#header .content{
	width: 1260px;height: 1260px;position: absolute;left: 50%;
	transform:translateX(-50%);background-color: #fff;
	bottom: 80px;
}
		.content>ul>li{
			float: left;width: 25%;height: 315px;position: relative;
		}
		.content>ul>li:nth-child(1){background:#fff;}
		.content>ul>li:nth-child(2){background-image: url(../images/imgs/img02.png);}
		.content>ul>li:nth-child(3){background:#fff;}
		.content>ul>li:nth-child(4){background-image: url(../images/imgs/job01.png);}
		.content>ul>li:nth-child(5){background:#ddd;}
		.content>ul>li:nth-child(6){background:#222;}
		.content>ul>li:nth-child(7){width: 50%;background-image: url(../images/imgs/img05.png)}
		.content>ul>li:nth-child(8){height: 630px;background-image: url(../images/imgs/img06.png);}
		.content>ul>li:nth-child(9){width: 50%;background-image: url(../images/imgs/img07.png);}
		.content>ul>li:nth-child(10){background:#000;}
		.content>ul>li:nth-child(11){background:#54565a;}
		.content>ul>li:nth-child(12){width: 50%;background-image: url(../images/imgs/img08.png);} 
/*con1*/
		.content>ul>li.con1>a{left: 50%;top: 50%;transform:translate(-50%,-50%);position: absolute;} 
		.content>ul>li.con1>a>img{margin: 0 auto;}
		.content>ul>li.con1>a>p{text-align: center;font-weight: bold}
/*con2*/
		.content>ul>li.con2>a{left: 50%;top: 50%;transform:translate(-50%,-50%);position: absolute;} 
		.content>ul>li.con2>a>img{margin: 0 auto;}
/*con3*/
		.content>ul>li.con3{padding: 42px;position: relative;}
		.content>ul>li.con3>div.txtWrap{width: 230px;margin: 0 auto;}
		.content>ul>li.con3>div.btn{
			width: 90px;height: 45px;background:red;position: absolute;left: 58%;
			top: 72%;
		}
		.content>ul>li.con3>div.btn>ul>li{float: left;left: 50%;}
/*con4*/
/*con5*/
		.content>ul>li.con5>a{left: 50%;top: 50%;transform:translate(-50%,-50%);position: absolute;} 
		.content>ul>li.con5>a>img{margin: 0 auto;}
		.content>ul>li.con5>a>p{text-align: center;font-weight: bold}
/*con6*/
		.content>ul>li.con6>a{left: 50%;top: 50%;transform:translate(-50%,-50%);position: absolute;} 
		.content>ul>li.con6>a>img{margin: 0 auto;}
		.content>ul>li.con6>a>p{text-align: center;font-weight: bold;color:#fff;}

		/*con7*/
		.content>ul>li.con7>a>p{text-align: center;font-weight: bold;color:#fff;}
/*con10*/
		.content>ul>li.con10>a{left: 50%;top: 50%;transform:translate(-50%,-50%);position: absolute;} 
		.content>ul>li.con10>a>img{margin: 0 auto;}
		.content>ul>li.con10>a>p{text-align: center;font-weight: bold;color:#fff;}
/*con11*/
		.content>ul>li.con11>a{left: 50%;top: 50%;transform:translate(-50%,-50%);position: absolute;} 
		.content>ul>li.con11>a>img{margin: 0 auto;}
		.content>ul>li.con11>a>p{text-align: center;font-weight: bold;color:#fff;}


/*shop*/
#shop{height: 730px;background-color: #ddd;position: relative;padding: 150px 0;}
#shop>h1{
	margin: 0 auto;width: 70px;border-top: 1px solid #000;
	text-align: center;padding-bottom: 60px;
}
#shop .conSliderWrap{
	margin: 0 auto;
	width: 1260px;
}
#shop .conSliderWrap>ul{}
#shop .conSliderWrap>ul>li{
	float: left;margin-right: 81px;
}
#shop .conSliderWrap>ul>li:last-child{margin-right: 0px;}
#shop .conSliderWrap>ul>li>a>p{font-size:14px;padding-top: 10px;}
#shop .conSliderWrap>ul>li>a>h4{font-size:18px;padding-top: 5px;}

.conSlider .bx-wrapper{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border:none;
    margin-bottom: 0;
}
#header>.content>ul>li.con3>.nSlider .bx-wrapper {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
    border: 0 none;
    margin-bottom: 0;
}