@charset "utf-8";
html,body{height: 100%;}
body{
	font-family: 'Noto Sans KR', sans-serif;
	
}
fieldset{border:0 none;}
legend{display: block;position:absolute;left:0;top:-9999px;}

#headerWrap{}
.utilMenuWrap{
	background-image: url(../images/img04.jpg);
	background-repeat:no-repeat;
}

/*utilMenu*/
.utilMenu{
	width: 980px;height: 87px;margin: 0 auto;;position: relative;
}

.utilMenu .logo{position: absolute;left: 0;}
.utilMenu .logo a{
	display: block;width: 150px;line-height: 87px;
	color:white;font-size:1.5em;
}

.utilMenu .searchBar{
	position: absolute;top: 50%;left: 50%;
	transform:translate(-50%,-50%);
}
.utilMenu .searchBar .searchInp{
	width: 290px;height: 30px;
	border-radius: 25px;text-indent:80px;
	font-size:12px;font-weight: bold;
	position: relative;
	z-index:1;
}
.utilMenu .searchBar .searchBtn{
	width: 20px;height: 20px;
	background-image: url(../images/search.jpg);
	text-indent:-9999px;
	border:0 none; 
	position: absolute;right: 20px;top: 7px;
	z-index:1;cursor: pointer;
}
.utilMenu .searchBar .searchTitle{
	display: block;
	width: 60px;height: 20px;
	background-image: url(../images/searchtext.jpg);
	text-indent:-9999px;
	position: absolute;top: 7px;left: 15px;
	z-index:2;
}

.utilMenu .menu{width: 300px;height: 87px;position: absolute;right: 0;}
.utilMenu .menu ul{position: relative;}
.utilMenu .menu ul>li.number{color:white;position: absolute;left: 0;top: 30px;}
.utilMenu .menu ul>li.snsBtn{position: absolute;right: 0;top: 30px;}

.mainGnb{height: 60px;background: #fff;border-bottom: 5px solid #0e73a7;}

/*navWrap*/
.navWrap{width: 1000px;margin: 0 auto;}
.navWrap ul{}
.navWrap ul:after{content:"";clear: both;display: block;}
.navWrap ul>li{float: left;width:163.33px;border-right: 1px solid #e5e5e5;}
.navWrap ul>li:first-child{border-left: 1px solid #e5e5e5;}
.navWrap ul>li>a{
	color:#000;height: 60px;line-height: 60px;display: block;
	text-align: center;font-weight: bold;
}
.navWrap ul>li>a:hover{background: #0e73a7;color:white;font-weight: bold;}



.conWrap{	
	background-image:url(../images/bgimg_01.jpg);
	background-position: center;	
	background-repeat:no-repeat;-webkit-background-size: cover;
	background-size: cover;position: relative;overflow: hidden;

}
.img01{
	position: absolute;left: 0;bottom: 0;
	animation-name: air01;
	animation-duration: 3s;
	animation-fill-mode:forwards;
	animation-iteration-count:infinite;

}
@keyframes air01{
			0%{left:0;bottom:0;}
			100%{left:1000px;bottom:1000px;}
		}
#contents{
	width: 980px;height: 1072px;margin: 0 auto;
	padding-top: 56px;position: relative;
}
#contents .img00{
	position: absolute;right:-100px;top:150px;
	animation-name: bal01;
	animation-duration: 1.5s;
	animation-iteration-count:infinite;
	animation-direction: alternate;
	animation-timing-function:ease-in-out;
}
@keyframes bal01{
	0%{transform:translateY(-20px);}
	100%{transform:translateY(0px);}
}

#contents .conWrapOne{width: 482px;height: 556px;position: absolute;left: 0;top: 60px;}
#contents .conWrapOne .input {width: 482px;height: 300px;background: #cdcdcd;}
#contents .conWrapOne .input ul>li{float: left;}
#contents .conWrapOne .input .tabs{
	width: 130px;height: 300px;
	_background-color: yellow;overflow: hidden;
}
#contents .conWrapOne .input .tabs ul>li{
	display: block;width: 130px;line-height: 75px;
	text-align: center;color: #fff;border-bottom: 1px solid #00497c;
}
#contents .conWrapOne .input .tabs ul>li:hover{background: #fff;color:#333;}
#contents .conWrapOne .input .tabs .air{background:#00497c}
#contents .conWrapOne .input .tabs .htl{background:#006599}
#contents .conWrapOne .input .tabs .rent{background:#0099cb}
#contents .conWrapOne .input .tabs .rst{background:#0099cb}

#contents .conWrapOne .input .inputBox{width: 352px;height: 300px;background:#fff;}
		.formLayer{width: 278px;height: 250px;margin: 0 auto;}
		.formLayer fieldset{margin: 10px 0;}
		.formLayer label{display: block;padding:5px 0;font-size:12px}
		.formLayer select{
			width:132px;height: 32px;
			font-size:12px;text-indent: 10px;
			border-radius:5px;
		}
		.formLayer .left,
		.formLayer .right{float: left;width: 130px;font-size:12px}

		.formLayer .left{margin-right: 10px;}

		.formLayer .left input,
		.formLayer .right input{
			width: 100%;border-radius:10px;height: 32px;
			text-indent: 10px;font-size:12px;
			border: 1px solid #aaa;font-weight:bold;
		}
		.formLayer .tBtn{
			width: 100%;height: 32px;
			border:0 none;cursor:pointer;
			background:orange;color: white;
			font-weight;font-size:1em;
			border-radius: 10px;
			box-shadow: 2px 2px #cdcdcd;
			transition:0.3s;
		}
		.formLayer .tBtn:hover{
			transform:translate(3px,3px);box-shadow: 0px 0px #000
		}

#contents .conWrapOne .conWrap{margin-top: 16px;}
#contents .conWrapOne .conWrap ul{position: relative;width: 482px;height: 240px;}
#contents .conWrapOne .conWrap ul li{
	width: 233px;height: 240px;
	background-repeat:no-repeat;background-size: cover;
}
#contents .conWrapOne .conWrap .france{
	background-image: url(../images/img03_01.jpg);
	position: absolute;left: 0;overflow: hidden;
}
#contents .conWrapOne .conWrap .france div{
	width: 100%;height: 100%;margin: 0 auto;position: relative;
}
#contents .conWrapOne .conWrap .france a{
	position: absolute;bottom: 0;
	display: block;text-align: center;
	width: 233px;
	line-height: 50px;background: #152630;
	color:#fff;
}
#contents .conWrapOne .conWrap .japen{
	background-image: url(../images/img03_02.jpg);
	position: absolute;right: 0;overflow: hidden;
}
#contents .conWrapOne .conWrap .japen div{
	width: 100%;height: 100%;margin: 0 auto;position: relative;
}
#contents .conWrapOne .conWrap .japen a{
	position: absolute;bottom: 0;
	display: block;text-align: center;
	width: 233px;
	line-height: 50px;background: #152630;
	color:#fff;
}

#contents .titleTxt{
	position: absolute;top: 60px;right:180px;color:#152630;
}
#contents .titleTxt h1{font-size:50px;font-weight: bold;}
#contents .titleTxt p{font-size:24px;}

.conWrapTwo{width: 980px;height: 496px;position: absolute;bottom: 0;
	}
.conWrapTwo ul{}
.conWrapTwo ul li{
	width: 233px;height: 240px;
	float: left;margin-right: 15px;margin-bottom: 16px;
	background-repeat:no-repeat;
}


.conWrapTwo .conOne{position: relative;}
.conWrapTwo .conOne .bx-wrapper{
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	border:- none;
	margin-bottom: 0;
}
.conWrapTwo .conOne img{position: absolute;top: 0;left: 0;}
.conWrapTwo .conOne div{
	width: 233px;height: 65px;background: #539150;position: absolute;bottom: 0;
}
.conWrapTwo .conOne div>a{padding: 8px 0 8px 20px;display: block;font-size:14px;color:#fff;}
.conWrapTwo .conOne div>a>p>span{color:#e3a200;}


.conWrapTwo .conTwo{position: relative;}
.conWrapTwo .conTwo img{}
.conWrapTwo .conTwo div{
	width: 233px;height: 65px;background: #152630;position: absolute;bottom: 0;
}
.conWrapTwo .conTwo div>a{padding: 8px 0 8px 20px;display: block;font-size:14px;color:#fff;}
.conWrapTwo .conTwo div>a>p>span{color:#e3a200;}


.conWrapTwo .conThree{position: relative;}
.conWrapTwo .conThree h2{
	text-align: center;line-height: 60px;font-size:18px;color:#fff;
}
.conWrapTwo .conThree div{
	position: absolute;bottom: 0;
	width: 100%;height: 65px;background:rgba(40,44,55,0.9);
}
.conWrapTwo .conThree div a{display: block;
	width: 100%;padding: 12px 0 0 20px;
	font-size:12px;color:#fff;
}



.conWrapTwo .conFour{position: relative;}
.conWrapTwo .conFour h2{
	position: absolute;top: 15px;left: 20px;font-size:14px;color:#484848;
}
.conWrapTwo .conFour div{
	position: absolute;bottom: 0;
	width: 100%;height: 65px;background:#44619d;
}
.conWrapTwo .conFour div a{display: block;
	width: 100%;padding: 12px 0 0 20px;
	font-size:12px;color:#fff;
}


.conWrapTwo .conFive{position: relative;overflow: hidden;}
.conWrapTwo .conFive .txt{
	width: 233px;color:#fff;text-align: center;
	position: absolute;top: 15px;font-weight:bold;
	z-index:1;
}
.conWrapTwo .conFive .txt h1{font-size:1.2em;}
.conWrapTwo .conFive .txt p{font-size:0.9em;margin-top: 5px;}
.conWrapTwo .conFive .bg{
	width: 100%;height: 100%;background: #27a5c9;position: relative;opacity:0;
}
.conWrapTwo .conFive .wrap{
	width: 30px;height: 30px;border: 3px solid #fff;
	border-radius:15px;box-sizing:border-box;
	position: absolute;left: 50%;top: 50%;
	transform:translate(-50%,-50%);
	transition:0.3s;z-index:1;
}
.conWrapTwo .conFive .wrap .bar1,.wrap .bar2{
	width: 13px;height: 3px;background: #fff;border-radius:2px;
	position: absolute;left: 50%;top: 50%;
	transform:translate(-50%,-50%);
}
.conWrapTwo .conFive .wrap .bar2{
	transform: translate(-50%,-50%) rotate(90deg);
}
.conWrapTwo .conFive:hover .txt{color:#fff;}
.conWrapTwo .conFive:hover .txt h1{color:#fff;}
.conWrapTwo .conFive:hover .wrap{transform:translate(-50%,-50%) rotate(180deg);}
.conWrapTwo .conFive:hover .bg{opacity: 0.4;}


.conWrapTwo .conSix{position: relative;overflow:hidden;}
.conWrapTwo .conSix .txt{
	width: 233px;color:#fff;text-align: center;
	position: absolute;bottom: 15px;font-weight:bold;z-index:1;
}
.conWrapTwo .conSix .txt h1{font-size:1.2em;}
.conWrapTwo .conSix .txt p{font-size:0.9em;margin-top: 5px;}
.conWrapTwo .conSix .wrap{
	width: 30px;height: 30px;border: 3px solid #fff;
	border-radius:15px;box-sizing:border-box;
	position: absolute;left: 50%;top: 50%;
	transform:translate(-50%,-50%);
	transition:0.3s;z-index:1;
}
.conWrapTwo .conSix .wrap .bar1,.wrap .bar2{
	width: 13px;height: 3px;background: #fff;border-radius:2px;
	position: absolute;left: 50%;top: 50%;
	transform:translate(-50%,-50%);
}
.conWrapTwo .conSix .wrap .bar2{
	transform: translate(-50%,-50%) rotate(90deg);
}
.conWrapTwo .conSix .bg{position: absolute;
	width: 100%;height: 100%;
	background:rgba(0,0,0,0.5);
	top: 100%;transition:0.3s;
}
.conWrapTwo .conSix:hover .wrap{transform:translate(-50%,-50%) rotate(180deg);}
.conWrapTwo .conSix:hover .bg{top: 0;}


.conWrapTwo .conSeven{position: relative;overflow:hidden;}
.conWrapTwo .conSeven .txt{
	width: 233px;color:#fff;text-align: center;
	position: absolute;bottom: 15px;font-weight:bold;z-index:1;
}
.conWrapTwo .conSeven .txt h1{font-size:1.2em;}
.conWrapTwo .conSeven .txt p{font-size:0.9em;margin-top: 5px;}
.conWrapTwo .conSeven .wrap{
	width: 30px;height: 30px;border: 3px solid #fff;
	border-radius:15px;box-sizing:border-box;
	position: absolute;left: 50%;top: 50%;
	transform:translate(-50%,-50%);
	transition:0.3s;z-index:1;
}
.conWrapTwo .conSeven .wrap .bar1,.wrap .bar2{
	width: 13px;height: 3px;background: #fff;border-radius:2px;
	position: absolute;left: 50%;top: 50%;
	transform:translate(-50%,-50%);
}
.conWrapTwo .conSeven .wrap .bar2{
	transform: translate(-50%,-50%) rotate(90deg);
}
.conWrapTwo .conSeven .bg{position: absolute;
	width: 100%;height: 100%;
	background:rgba(0,0,0,0.5);
	top: 100%;transition:0.3s;
}
.conWrapTwo .conSeven:hover .wrap{transform:translate(-50%,-50%) rotate(180deg);}
.conWrapTwo .conSeven:hover .bg{top: 0;}


.conWrapTwo .conEight{position: relative;overflow: hidden;}
.conWrapTwo .conEight .txt{
	width: 233px;color:#3a2315;text-align: center;
	position: absolute;top: 15px;font-weight:bold;
	z-index:1;
}
.conWrapTwo .conEight .txt h1{font-size:1.2em;}
.conWrapTwo .conEight .txt p{font-size:0.9em;margin-top: 5px;}
.conWrapTwo .conEight .bg{
	width: 100%;height: 100%;background: #67ae90;position: relative;opacity:0;
}
.conWrapTwo .conEight .wrap{
	width: 30px;height: 30px;border: 3px solid #fff;
	border-radius:15px;box-sizing:border-box;
	position: absolute;left: 50%;top: 50%;
	transform:translate(-50%,-50%);
	transition:0.3s;z-index:1;
}
.conWrapTwo .conEight .wrap .bar1,.wrap .bar2{
	width: 13px;height: 3px;background: #fff;border-radius:2px;
	position: absolute;left: 50%;top: 50%;
	transform:translate(-50%,-50%);
}
.conWrapTwo .conEight .wrap .bar2{
	transform: translate(-50%,-50%) rotate(90deg);
}
.conWrapTwo .conEight:hover .txt{color:#fff;}
.conWrapTwo .conEight:hover .wrap{transform:translate(-50%,-50%) rotate(180deg);}
.conWrapTwo .conEight:hover .bg{opacity: 0.4;}


/*.conWrapTwo ul li:nth-child(1){background-image: url(../images/img03_03.jpg);}*/
/*.conWrapTwo ul li:nth-child(2){background-image: url(../images/img03_04.jpg);}*/
.conWrapTwo ul li:nth-child(3){background-image: url(../images/img03_05.jpg);}
.conWrapTwo ul li:nth-child(4){background-image: url(../images/img03_06.jpg);margin-right: 0;}
.conWrapTwo ul li:nth-child(5){background-image: url(../images/img03_07.jpg);margin-bottom: 0;}
.conWrapTwo ul li:nth-child(6){background-image: url(../images/img03_08.jpg);margin-bottom: 0;}
.conWrapTwo ul li:nth-child(7){background-image: url(../images/img03_09.jpg);margin-bottom: 0;}
.conWrapTwo ul li:nth-child(8){background-image: url(../images/img03_10.jpg);margin-bottom: 0;margin-right: 0;}

#footer{width: 980px;margin: auto;background: #fff;padding: 20px 0;}
#footer h2{font-size:16px;color:#333;}
#footer p{font-size:12px;color:#7f7f7f;}