@charset "utf-8";
html,body{font-family: 'Lora', serif;}
/*전체이미지*/
#page1{background-image: url(../images/bg01.jpg);}
#page2{_background-image: url(../images/bg04.jpg);}
#page3{background: #fffef2;_background-image: url(../images/bg01.jpg);}
#page4{background: wheat;}
#bg04Img{
	width: 100%;height: 100%;
	background-image: url(../images/bg07.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	position: absolute;
	transition:1s;opacity:1;top: 0;
}
#bg04Img.move{opacity:0.8;}

/*section*/
.section{
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}


/*nav*/
nav#navTop{
	position: fixed;z-index:1;width: 100%;
}
nav#navTop img.logo{position: absolute;top: 40px;left: 60px;}
nav#navTop ul{position: absolute;right: 60px;top: 40px;}
nav#navTop li{float: left;margin-right: 100px;}
nav#navTop li a{
	display: block;line-height: 50px;
	text-align: center;padding: 0 10px;
	color:#333;
}

nav#navTop li a:after{
	content:"";display: block;width: 0;height: 2px;
	background:#333;transition:0.3s;left: 0;
}
nav#navTop li.active a:after{
	content:"";display: block;width: 0;height: 2px;
	background:#333;transition:0.3s;left: 0;width: 100%;
}
nav#navTop li a:hover{font-weight:bold;}
nav#navTop li a:hover:after{width: 100%;}


/*scroll icon*/
.scroll{
	position: absolute;left: 50%;transform:translateX(-50%);
	bottom: 20px;animation:xScroll 0.8s infinite alternate;
}
@keyframes xScroll{
	from{bottom: 20px;}
	to{bottom: 40px;}
}


/*page01*/
.mainTxt01{
	width: 500px;position: absolute;right: 5%;
	transform:translateX(-50%);top: 32%;
	color:#333;text-align: left;
}
.mainTxt01 h3{font-size:3.5em;padding-bottom: 20px;}
.mainTxt01 p{
	margin-bottom: 20px;
	font-family: 'Noto Sans KR', sans-serif;
}
.mainTxt01 a{
	display: block;width: 100px;
	border: 1px solid #333;
	line-height: 40px;
	color:#333;border-radius:20px;
	text-align: center;
	font-family: initial;
}
.mainTxt01 a:hover{background-color: #333;color:#fff;border: none}

#onViewOne{
	position: absolute;left: 30%;
	transform:translateX(-50%);
	top: 10%;transition:0.8s;opacity:0;}
#onViewOne.move{top: 30%;opacity:1;}

#onViewOneTxt{
	position: absolute;right: 0;
	transition:0.8s;opacity:0;
}
#onViewOneTxt.move{right: 7%;opacity:1;}

#onViewTwoImg{
	position: absolute;top: 0;
	transition:0.8s;opacity:0;
}
#onViewTwoImg.move{right: 7%;opacity:1;}

/*page01 - showView*/
.showView01{
	z-index:3;
	width: 52%;height: 100%;background:#333;
	position: absolute;right: -52%;top: 0;
}
.showView01 img{
	position: absolute;top: 50%;
	transform:translateY(-50%);
}
.showView01 .showView01Txt{
	width: 400px;_background:orange;
	position: absolute;left: 65%;top: 50%;
	transform:translate(-50%,-50%);
	font-family: 'Noto Sans KR', sans-serif;
	color:#fff;
}
.showView01 .showView01Txt h3{font-size:1.5em;padding-bottom: 10px;}
.showView01 .showView01Txt p{
	padding-bottom: 10px;border-bottom: 2px solid #fff;
	font-size:0.9em;
}
.showView01 .showView01Txt ul{padding: 20px 0}
.showView01 .showView01Txt ul li{
	padding: 10px 0;
	border-bottom: 0.5px solid #fff;
	font-size:0.9em;
}
.showView01 .showView01Txt ul li:last-child{border:none;}
.showView01 .showView01Txt a{
	display: block;text-align: center;
	width: 400px;line-height: 50px;background: #fff;
	border-radius:25px;
}
.showView01 .showView01Txt a:hover{
	background: #F7A039;color:#fff;
	transition:0.3s;
}
.showView01 .bar01{
	width: 30px;height: 30px;
	position: absolute;right:30px;top:30px;
	z-index: 1;cursor:pointer;
}
.showView01 .bar01 div{
	width: 20px;height: 3px;background: #fff;
	position: absolute;left:5.5px;border-radius:3px;
	transition:0.3s;
}
.showView01 .bar1{
	left:50%;top:50%;
	transform:translate(-50%,-50%) rotate(-45deg);
}
.showView01 .bar2{
	left:50%;top:50%;
	transform:translate(-50%,-50%) rotate(45deg);
}






/*page02*/
.slide{position: relative;}
.slide .view01,
.slide .view02,
.slide .view03{
	position: absolute;width:70%;height: 700px;
	background-color:#ede1d5;
	/*opacity: 0.9;*/
	left: 50%;top: 50%;
	transform:translate(-50%,-50%);
}
.slide .view01 ul li{float: left;}
.slide .view01 ul li.left{}
#onViewTwoTxt{
	width: 600px;left: 100px;
	top: 50%;transform:translateY(-50%);
	position: absolute;
	transition:0.8s;opacity:0;
}
#onViewTwoTxt.move{opacity:1;}

.slide .view01 ul li.left .p00{
	font-weight:bold;font-size:1.4em;padding-bottom: 30px;
}
.slide .view01 ul li.left .p01{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.5em;padding-bottom: 20px;
}
.slide .view01 ul li.left .p02{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:14px;
	padding-bottom: 30px;
}
.slide .view01 ul li a{
	font-family: 'Noto Sans KR', sans-serif;
	display: block;width: 150px;height: 40px;
	line-height: 40px;font-size:14px;
	border: 1px solid #333;text-align: center;
	border-radius: 20px;
}
.slide .view01 ul li a:hover{
	background: #5a4a34;color:#fff;
}
.slide .view01 ul li.right{
	float: right;width: 500px;height: 700px;
	background-image: url(../images/img06.jpg);
	background-size:cover;position: relative;
	overflow: hidden;
}

.showView02{
	left: -500px;
	position: absolute;
	width: 100%;height: 100%;
	background:#ede1d5;
	
}
.showView02 ul{padding: 50px 50px 10px 50px;}
.showView02 ul li{
	float: left;
}
.showView02 ul li:last-child{float: right;}
.showView02 .p01{
	font-family: 'Noto Sans KR', sans-serif;
}
.showView02 .p02{
	width: 250px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:0.8em;
}
.showView02Img{
	width: 500px;height: 370px;bottom: 0;position: absolute;
	background-image: url(../images/img14.jpg);
}
.showView02Img:hover{
	background: #ede1d5;

}
.showView02Img:hover .p03{opacity: 1;transition:0.8s;}
.showView02Img .p03{
	position: absolute;top: 50%;left: 50%;
	transform:translate(-50%,-50%);
	text-align: center;width: 500px;
	opacity: 0;
}
.showView02Img .p03_1{font-size:1em;padding-bottom: 10px;}
.showView02Img .p03_2{font-size:0.8em;font-family: 'Noto Sans KR', sans-serif;}


/*#onViewTwoImg{
	position: absolute;top: 0px;
	transition:0.5s;opacity:0;right: 0;
}
#onViewTwoImg.move{opacity:1;right: 0;}*/
.slide .view02 ul li{float: left;}
.slide .view02 ul li.left{
	width: 600px;left: 100px;
	top: 50%;transform:translateY(-50%);
	position: absolute;
}
#onViewTwoTxt{
	width: 600px;left: 100px;
	top: 50%;transform:translateY(-50%);
	position: absolute;
	transition:0.8s;opacity:0;
}
#onViewTwoTxt.move{opacity:1;}

.slide .view02 ul li.left .p00{
	font-weight:bold;font-size:1.4em;padding-bottom: 30px;
}
.slide .view02 ul li.left .p01{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.5em;padding-bottom: 20px;
}
.slide .view02 ul li.left .p02{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:14px;
	padding-bottom: 30px;
}
.slide .view02 ul li a{
	font-family: 'Noto Sans KR', sans-serif;
	display: block;width: 160px;height: 40px;
	line-height: 40px;font-size:14px;
	border: 1px solid #333;text-align: center;
	border-radius: 20px;
}
.slide .view02 ul li a:hover{
	background: #5a4a34;color:#fff;
}
.slide .view02 ul li.right{
	float: right;width: 500px;height: 700px;
	background-image: url(../images/img07.jpg);
	background-size:cover;
}

/*view03*/
.slide .view03 ul li{float: left;}
.slide .view03 ul li.left{
	width: 600px;left: 100px;
	top: 50%;transform:translateY(-50%);
	position: absolute;
}
#onViewTwoTxt{
	width: 600px;left: 100px;
	top: 50%;transform:translateY(-50%);
	position: absolute;
	transition:0.8s;opacity:0;
}
#onViewTwoTxt.move{opacity:1;}

.slide .view03 ul li.left .p00{
	font-weight:bold;font-size:1.4em;padding-bottom: 30px;
}
.slide .view03 ul li.left .p01{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.5em;padding-bottom: 20px;
}
.slide .view03 ul li.left .p02{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:14px;
	padding-bottom: 30px;
}
.slide .view03 ul li a{
	font-family: 'Noto Sans KR', sans-serif;
	display: block;width: 160px;height: 40px;
	line-height: 40px;font-size:14px;
	border: 1px solid #333;text-align: center;
	border-radius: 20px;
}
.slide .view03 ul li a:hover{
	background: #5a4a34;color:#fff;
}
.slide .view03 ul li.right{
	float: right;width: 500px;height: 700px;
	background-image: url(../images/img08.png);
	background-size:cover;
}
#video02{
	position: absolute;
	width: 100%;height: 100%;
	top: 0;
	object-fit:cover;
}


/*page03*/
.mainTxt03{
	width: 600px;position: absolute;left: 25%;
	transform:translateX(-50%);top: 55%;
	color:#333;text-align: left;
}
.mainTxt03 h3{font-size:3.5em;padding-bottom: 30px;}
.mainTxt03 p{margin-bottom: 20px;font-family: 'Noto Sans KR', sans-serif;}
.mainTxt03 a{
	display: block;width: 100px;
	border: 1px solid #333;
	line-height: 40px;
	color:#333;border-radius:20px;text-align: center;
	font-family: initial;
}
.mainTxt03 a:hover{background-color: #333;color:#fff;}

#onViewThree{
	position: absolute;
	right: -20%;top: 0px;
	transition:0.8s;opacity:0;
}
#onViewThree.move{right: 0;opacity:1;}

#onViewThreeTxt{
	position: absolute;left: 0;
	transition:0.8s;opacity:0;
}
#onViewThreeTxt.move{left: 26%;opacity:1;}


/*page03_showView03*/
.showView03{
	display: none;
	width: 100%;height: 630px;
	background:rgba(0,0,0,0.7);position: absolute;
	top: 50%;transform:translateY(-50%);
}
.showViewBox03{
	position: relative;
	width: 100%;height: 630px;
}
.imgSlider03_wrap{width: 1100px;height: 630px;position: relative;}
.imgSlider03{width: 100%;height: 100%;position: absolute;}
.showViewBox03 .btn03{cursor:pointer;}
.btn03 .nBtn03{position: absolute;top: 50%;right: 0;transform:translateY(-50%);}
.btn03 .pBtn03{position: absolute;top: 50%;left: 0;transform:translateY(-50%);}

.showView03 img{}

.showView03 .showView03Txt{
	width: 400px;_background:orange;
	position: absolute;right: 3.5%;top: 50%;
	transform:translate(-50%,-50%);
	color:#F2ECDA;
}
.showView03 .showView03Txt h3{font-size:1.5em;padding-bottom: 10px;}
.showView03 .showView03Txt p{
	padding-bottom: 20px;border-bottom: 1.5px solid #F2ECDA;
	font-size:0.9em;font-family: 'Noto Sans KR', sans-serif;
}
.showView03 .showView03Txt ul{padding: 20px 0}
.showView03 .showView03Txt ul li{
	padding: 10px 0;border-bottom: 1px solid #F2ECDA;font-size:0.85em;
	font-family: 'Noto Sans KR', sans-serif;
}
.showView03 .showView03Txt ul li:last-child{border:none;}
.showView03 .showView03Txt a{
	display: block;text-align: center;
	width: 400px;line-height: 50px;background: #333;
	border-radius:25px;color:#F2ECDA;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:0.9em;
}
.showView03 .showView03Txt a:hover{
	background: #F2ECDA;color:#333;
	transition:0.3s;
}
.showView03 .bar03{
	width: 30px;height: 30px;
	position: absolute;right:30px;top:30px;
	z-index: 1;cursor:pointer;
}
.showView03 .bar03 div{
	width: 20px;height: 3px;background: #F2ECDA;
	position: absolute;left:5.5px;border-radius:3px;
	transition:0.3s;
}
.showView03 .bar1{
	left:50%;top:50%;
	transform:translate(-50%,-50%) rotate(-45deg);
}
.showView03 .bar2{
	left:50%;top:50%;
	transform:translate(-50%,-50%) rotate(45deg);
}







/*page04*/
.vTxt{
	position: absolute;left: 60%;
	top: 40%;
}
.vTxt h3{padding-bottom: 10px;font-weight:bold;font-size:1.4em;}
.vTxt h1{padding-bottom: 10px;}
#page4 a{
	position: absolute;
	bottom: 40%;left: 60%;
	text-align: center;font-size:1em;
	display: block;width: 100px;height: 40px;
	line-height: 40px;border: 1px solid #333;
	border-radius: 20px;font-family: initial;
}
#page4 a:hover{
	background: #333;color:#fff;
}
.vWrap{
	width: 800px;height: 450px;
	left: 15%;
	position: relative;
}
#video{
	position: absolute;
	width: 100%;height: 100%;
	object-fit: cover;
}


/*font*/
.f3em{font-size:3em !important}
.f25em{font-size:2.5em !important}
.f2em{font-size:2em !important}
.f15em{font-size:1.5em !important}
.mb20{margin-bottom: 20px !important;}
.fserif{font-family:serif}