@charset "utf-8";
html,body{font-family: 'Lora', serif;}
/*전체이미지*/
#page0{background-image: url(../images/bg01.jpg);}
#page1{background-image: url(../images/bg01.jpg);}
#page2{_background-image: url(../images/bg04.jpg);}
#page3{background: wheat;}
#bg03Img{
	width: 100%;height: 100%;
	background-image: url(../images/bg07.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	position: absolute;
	transition:1s;opacity:1;top: 0;
}
#bg03Img.move{opacity:0.8;}
#page4{background: #fffef2;_background-image: url(../images/bg01.jpg);}

/*section*/
.section{
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}


/*nav*/
nav#navTop{
	position: fixed;z-index:1;width: 100%;height: 130px;
}
nav#navTop img.logo{position: absolute;top: 40px;left: 60px;}
nav#navTop ul{position: absolute;right: 60px;top: 40px;}
nav#navTop li{float: left;margin-right: 100px;}
nav#navTop li a{
	display: block;line-height: 50px;
	text-align: center;padding: 0 10px;
	color:#333;
}

nav#navTop li a:after{
	content:"";display: block;width: 0;height: 2px;
	background:#333;transition:0.3s;left: 0;
}
nav#navTop li.active a:after{
	content:"";display: block;width: 0;height: 2px;
	background:#333;transition:0.3s;left: 0;width: 100%;
}
nav#navTop li a:hover{font-weight:bold;}
nav#navTop li a:hover:after{width: 100%;}


/*scroll icon*/
.scroll{
	position: absolute;left: 50%;transform:translateX(-50%);
	bottom: 20px;animation:xScroll 0.8s infinite alternate;
}
@keyframes xScroll{
	from{bottom: 20px;}
	to{bottom: 40px;}
}

/*page00*/
.page0Txt{
	position: absolute;
	right: 15%;
	color:#fff;z-index:5;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: right;
}
.page0Txt h3{font-size:3em;padding-bottom: 20px;}
.page0Txt p{font-size:1.2em;}
#page0 .bg00{
	position: absolute;top: 0;
	width: 100%;height: 100%;background:rgba(0,0,0,0.6);}

#page0 .hBg{
	position: absolute;top: 0;
	width: 100%;height: 120px;
	background:#F7A039;opacity: 0.7;
	z-index: 5
}


#video00{
	position: absolute;
	width: 100%;height: 100%;
	top: 0;
	object-fit:cover;
}




/*page01*/
.mainTxt01{
	width: 500px;position: absolute;right: 5%;
	transform:translateX(-50%);top: 32%;
	color:#333;text-align: left;
}
.mainTxt01 h3{font-size:3.5em;padding-bottom: 20px;}
.mainTxt01 p{
	margin-bottom: 20px;
	font-family: 'Noto Sans KR', sans-serif;
}
.mainTxt01 a{
	display: block;width: 100px;
	border: 1px solid #333;
	line-height: 40px;
	color:#333;border-radius:20px;
	text-align: center;
	font-family: initial;
}
.mainTxt01 a:hover{background-color: #333;color:#fff;border: none}

#onViewOne{
	position: absolute;left: 30%;
	transform:translateX(-50%);
	top: 10%;transition:0.8s;opacity:0;}
#onViewOne.move{top: 30%;opacity:1;}

#onViewOneTxt{
	position: absolute;right: 0;
	transition:0.8s;opacity:0;
}
#onViewOneTxt.move{right: 7%;opacity:1;}

#onViewTwoImg{
	position: absolute;top: 0;
	transition:0.8s;opacity:0;
}
#onViewTwoImg.move{right: 7%;opacity:1;}

/*page01 - showView*/
.showView01{
	z-index:3;
	width: 52%;height: 100%;background:#333;
	position: absolute;right: -52%;top: 0;
}
.showView01 img{
	position: absolute;top: 50%;
	transform:translateY(-50%);
}
.showView01 .showView01Txt{
	width: 400px;_background:orange;
	position: absolute;left: 65%;top: 50%;
	transform:translate(-50%,-50%);
	font-family: 'Noto Sans KR', sans-serif;
	color:#fff;
}
.showView01 .showView01Txt h3{font-size:1.5em;padding-bottom: 10px;}
.showView01 .showView01Txt p{
	padding-bottom: 10px;border-bottom: 2px solid #fff;
	font-size:0.9em;
}
.showView01 .showView01Txt ul{padding: 20px 0}
.showView01 .showView01Txt ul li{
	padding: 10px 0;
	border-bottom: 0.5px solid #fff;
	font-size:0.9em;
}
.showView01 .showView01Txt ul li:last-child{border:none;}
.showView01 .showView01Txt a{
	display: block;text-align: center;
	width: 400px;line-height: 50px;background: #fff;
	border-radius:25px;
}
.showView01 .showView01Txt a:hover{
	background: #F7A039;color:#fff;
	transition:0.3s;
}
.showView01 .bar01{
	width: 30px;height: 30px;
	position: absolute;right:30px;top:120px;
	z-index: 1;cursor:pointer;
}
.showView01 .bar01 div{
	width: 20px;height: 3px;background: #fff;
	position: absolute;left:5.5px;border-radius:3px;
	transition:0.3s;
}
.showView01 .bar1{
	left:50%;top:50%;
	transform:translate(-50%,-50%) rotate(-45deg);
}
.showView01 .bar2{
	left:50%;top:50%;
	transform:translate(-50%,-50%) rotate(45deg);
}






/*page02*/
.slide{position: relative;background:#F8F8F9;}
.slide .view01,
.slide .view02,
.slide .view03{
	position: absolute;width:70%;height: 650px;
	_background-color:#ede1d5;
	/*opacity: 0.9;*/
	left: 50%;top: 50%;
	transform:translate(-50%,-50%);
	color:#333;
}
.slide .view01 ul li,
.slide .view02 ul li,
.slide .view03 ul li{float: left;}


.slide .view01 ul li.left,
.slide .view02 ul li.left,
.slide .view03 ul li.left{
	padding-left: 30px;
	width: 600px;left: 0px;
	top: 50%;transform:translateY(-50%);
	position: absolute;
}






#onViewTwoTxt{
	transition:0.8s;opacity:0;
}
#onViewTwoTxt.move{opacity:1;}






.slide .view01 ul li.left .p00,
.slide .view02 ul li.left .p00,
.slide .view03 ul li.left .p00{
	border-bottom: 2px solid #000;
	font-weight:bold;font-size:2.5em;padding-bottom: 12px;
}
.slide .view01 ul li.left .p01,
.slide .view02 ul li.left .p01,
.slide .view03 ul li.left .p01{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:1.5em;padding:20px 0 20px 0;;
}
.slide .view01 ul li.left .p02,
.slide .view02 ul li.left .p02,
.slide .view03 ul li.left .p02{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:14px;
	padding-bottom: 30px;
}
.slide .view01 ul li a,
.slide .view02 ul li a,
.slide .view03 ul li a{
	font-family: 'Noto Sans KR', sans-serif;
	display: block;width: 150px;height: 40px;
	line-height: 40px;font-size:14px;
	border: 1px solid #333;text-align: center;
	border-radius: 20px;
}
.slide .view01 ul li a:hover,
.slide .view02 ul li a:hover,
.slide .view03 ul li a:hover{
	background: #5a4a34;color:#fff;
	border:none;
}


.slide .view01 ul li.right{background-image: url(../images/img06.jpg);}
.slide .view02 ul li.right{background-image: url(../images/img07.jpg);}
.slide .view03 ul li.right{background-image: url(../images/img08.png);}

.slide .view01 ul li.right,
.slide .view02 ul li.right,
.slide .view03 ul li.right{
	right: 30px;
	_border: 2px solid #000;
	float: right;width: 550px;height: 650px;
	_background-size:cover;position: relative;
	overflow: hidden;
}

.showView02_01{background-color:#dddcdb }
.showView02_02{background-color:#ede1d5;}

.showView02_01,
.showView02_02{
	display: none;
	position: absolute;
	width: 100%;height: 100%;
	/*background:#ede1d5;*/
}
.showView02_01 ul,
.showView02_02 ul{padding: 60px 50px 10px 50px;}

.showView02_01 ul li,
.showView02_02 ul li{float: left;}

.showView02_01 ul li:last-child,
.showView02_02 ul li:last-child{float: right;}



.bar02_01,
.bar02_02{
	width: 20px;height: 20px;
	position: absolute;
	right:20px;top: 20px;
	z-index:1;cursor:pointer;
}
.bar02_01 div,
.bar02_02 div{
	width:20px;height:2px;background-color:#333;
	border-radius:2px;position:absolute;
	transition:0.3s;
}
.bar02_01 .bar1,
.bar02_02 .bar1{
	left: 50%;top: 50%;
	transform:translate(-50%,-50%) rotate(45deg);
}
.bar02_01 .bar2,
.bar02_02 .bar2{
	left: 50%;top: 50%;
	transform:translate(-50%,-50%) rotate(-45deg);
}


.showView02_01 .p01,
.showView02_02 .p01{
	font-family: 'Noto Sans KR', sans-serif;
}
.showView02_01 .p02,
.showView02_02 .p02{
	width: 250px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:0.8em;
	border-left: 1px solid #333;
	padding-left: 20px;
}

.showView02Img_01{background-image: url(../images/img14.jpg);}
.showView02Img_02{background-image: url(../images/img16.jpg);}


.showView02Img_01,
.showView02Img_02{
	width: 550px;height: 320px;bottom: 0;position: absolute;
	background-repeat:no-repeat;
	background-size: cover;
}

.showView02Img_01:hover{background: #dddcdb}
.showView02Img_02:hover{background: #ede1d5;}


.showView02Img_01:hover,
.showView02Img_02:hover{
	opacity:1;transition:0.8s;

}
.showView02Img_01:hover .p03,
.showView02Img_02:hover .p03{opacity: 1;transition:0.8s;}

.showView02Img_01 .p03,
.showView02Img_02 .p03{
	position: absolute;top: 50%;left: 50%;
	transform:translate(-50%,-50%);
	text-align: center;width: 500px;
	opacity: 0;
}
.showView02Img_01 .p03_1,
.showView02Img_02 .p03_1{font-size:1em;padding-bottom: 10px;}

.showView02Img_01 .p03_2,
.showView02Img_02 .p03_2{font-size:0.8em;font-family: 'Noto Sans KR', sans-serif;}








/*page03*/
.vTxt{
	position: absolute;left: 60%;
	top: 40%;
}
.vTxt h3{padding-bottom: 10px;font-weight:bold;font-size:1.4em;}
.vTxt h1{padding-bottom: 10px;}
#page3 a{
	position: absolute;
	bottom: 40%;left: 60%;
	text-align: center;font-size:1em;
	display: block;width: 100px;height: 40px;
	line-height: 40px;border: 1px solid #333;
	border-radius: 20px;font-family: initial;
}
#page3 a:hover{
	background: #333;color:#fff;
}
.vWrap{
	width: 800px;height: 450px;
	left: 15%;
	position: relative;
}
#video{
	position: absolute;
	width: 100%;height: 100%;
	object-fit: cover;
}






/*page04*/
.mainTxt04{
	width: 600px;position: absolute;left: 25%;
	transform:translateX(-50%);top: 55%;
	color:#333;text-align: left;
}
.mainTxt04 h3{font-size:3.5em;padding-bottom: 30px;}
.mainTxt04 p{margin-bottom: 20px;font-family: 'Noto Sans KR', sans-serif;}
.mainTxt04 a{
	display: block;width: 100px;
	border: 1px solid #333;
	line-height: 40px;
	color:#333;border-radius:20px;text-align: center;
	font-family: initial;
}
.mainTxt04 a:hover{background-color: #333;color:#fff;}

#onViewFour{
	position: absolute;
	right: -20%;top: 0px;
	transition:0.8s;opacity:0;
}
#onViewFour.move{right: 0;opacity:1;}

#onViewFourTxt{
	position: absolute;left: 0;
	transition:0.8s;opacity:0;
}
#onViewFourTxt.move{left: 26%;opacity:1;}


/*page04_showView04*/
.showView04{
	display: none;
	width: 100%;height: 630px;
	background:rgba(0,0,0,0.7);position: absolute;
	top: 50%;transform:translateY(-50%);
}
.showViewBox04{
	position: relative;
	width: 100%;height: 630px;
}
.imgSlider04_wrap{width: 1100px;height: 630px;position: relative;}
.imgSlider04{width: 100%;height: 100%;position: absolute;}
.showViewBox04 .btn04{cursor:pointer;}
.btn04 .nBtn04{position: absolute;top: 50%;right: 0;transform:translateY(-50%);}
.btn04 .pBtn04{position: absolute;top: 50%;left: 0;transform:translateY(-50%);}

.showView04 img{}

.showView04 .showView04Txt{
	width: 400px;_background:orange;
	position: absolute;right: 3.5%;top: 50%;
	transform:translate(-50%,-50%);
	color:#F2ECDA;
}
.showView04 .showView04Txt h3{font-size:1.5em;padding-bottom: 10px;}
.showView04 .showView04Txt p{
	padding-bottom: 20px;border-bottom: 1.5px solid #F2ECDA;
	font-size:0.9em;font-family: 'Noto Sans KR', sans-serif;
}
.showView04 .showView04Txt ul{padding: 20px 0}
.showView04 .showView04Txt ul li{
	padding: 10px 0;border-bottom: 1px solid #F2ECDA;font-size:0.85em;
	font-family: 'Noto Sans KR', sans-serif;
}
.showView04 .showView04Txt ul li:last-child{border:none;}
.showView04 .showView04Txt a{
	display: block;text-align: center;
	width: 400px;line-height: 50px;background: #333;
	border-radius:25px;color:#F2ECDA;
	font-family: 'Noto Sans KR', sans-serif;
	font-size:0.9em;
}
.showView04 .showView04Txt a:hover{
	background: #F2ECDA;color:#333;
	transition:0.3s;
}
.showView04 .bar04{
	width: 30px;height: 30px;
	position: absolute;right:30px;top:30px;
	z-index: 1;cursor:pointer;
}
.showView04 .bar04 div{
	width: 20px;height: 3px;background: #F2ECDA;
	position: absolute;left:5.5px;border-radius:3px;
	transition:0.3s;
}
.showView04 .bar1{
	left:50%;top:50%;
	transform:translate(-50%,-50%) rotate(-45deg);
}
.showView04 .bar2{
	left:50%;top:50%;
	transform:translate(-50%,-50%) rotate(45deg);
}

.footer{
	position: relative;padding: 60px;
	height:200px;background-color:#333;color:#fff;
	font-family: 'Noto Sans KR', sans-serif;
}
.footer p{position: absolute;left: 10%;}
.footer address{position: absolute;right: 10%;width: 790px;font-style: normal;}









/*font*/
.f3em{font-size:3em !important}
.f25em{font-size:2.5em !important}
.f2em{font-size:2em !important}
.f15em{font-size:1.5em !important}
.mb20{margin-bottom: 20px !important;}
.fserif{font-family:serif}