@charset "utf-8";

/*전체이미지*/
#page1{background-image: url(../images/bg01.jpg);}
#page2{background-image: url(../images/bg04.jpg);}
#page3{background: #fffef2;_background-image: url(../images/bg01.jpg);}
#page4{_background: #948b82;background-image: url(../images/bg07.png);}

/*section*/
.section{
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}


/*nav*/
nav#navTop{
	position: fixed;z-index:1;width: 100%;
}
nav#navTop img.logo{position: absolute;top: 40px;left: 60px;}
nav#navTop ul{position: absolute;right: 60px;top: 40px;}
nav#navTop li{float: left;margin-right: 100px;}
nav#navTop li a{
	display: block;line-height: 50px;
	text-align: center;padding: 0 10px;
	color:#333;
}

nav#navTop li a:after{
	content:"";display: block;width: 0;height: 2px;
	background:#333;transition:0.3s;left: 0;
}
nav#navTop li.active a:after{
	content:"";display: block;width: 0;height: 2px;
	background:#333;transition:0.3s;left: 0;width: 100%;
}
nav#navTop li a:hover{font-weight:bold;}
nav#navTop li a:hover:after{width: 100%;}


/*scroll icon*/
.scroll{
	position: absolute;left: 50%;transform:translateX(-50%);
	bottom: 20px;animation:xScroll 0.8s infinite alternate;
}
@keyframes xScroll{
	from{bottom: 20px;}
	to{bottom: 40px;}
}


/*page01*/
.mainTxt01{
	width: 500px;position: absolute;right: 5%;
	transform:translateX(-50%);top: 32%;
	color:#333;text-align: left;
}
.mainTxt01 h3{font-size:3.5em;padding-bottom: 30px;}
.mainTxt01 p{margin-bottom: 30px;}
.mainTxt01 a{
	display: block;width: 100px;
	border: 1px solid #333;
	line-height: 40px;
	color:#333;_border-radius:18px;text-align: center;
}
.mainTxt01 a:hover{background-color: #333;color:#fff;border: none}

#onViewOne{
	position: absolute;left: 30%;
	transform:translateX(-50%);
	top: 10%;transition:0.8s;opacity:0;}
#onViewOne.move{top: 30%;opacity:1;}

#onViewOneTxt{
	position: absolute;right: 0;
	transition:0.8s;opacity:0;
}
#onViewOneTxt.move{right: 7%;opacity:1;}


/*page02*/
.slide{position: relative;}
.slide .view01,
.slide .view02,
.slide .view03{
	position: absolute;width:70%;height: 700px;
	background-color:#ede1d5;
	opacity: 0.9;
	left: 50%;top: 50%;
	transform:translate(-50%,-50%);
}
.slide .view01 ul li{float: left;}
.slide .view01 ul li.left{
	width: 600px;position: absolute;left: 100px;
	top: 50%;transform:translateY(-50%);
}
.slide .view01 ul li.left .p01{
	font-size:1.3em;padding-bottom: 50px;
}
.slide .view01 ul li.left .p02{
	padding-bottom: 50px;
}
.slide .view01 ul li a{
	display: block;width: 160px;height: 40px;
	line-height: 40px;font-size:14px;
	border: 1px solid #333;text-align: center;
}
.slide .view01 ul li a:hover{
	background: #4f2608;color:#fff;
}
.slide .view01 ul li.right{
	float: right;margin:50px;
}


/*page03*/
.mainTxt02{
	width: 500px;position: absolute;left: 20%;
	transform:translateX(-50%);top: 55%;
	color:#333;text-align: left;
}
.mainTxt02 h3{font-size:3.5em;padding-bottom: 30px;}
.mainTxt02 p{margin-bottom: 30px;}
.mainTxt02 a{
	display: block;width: 100px;
	border: 1px solid #333;
	line-height: 40px;
	color:#333;_border-radius:18px;text-align: center;
}
.mainTxt02 a:hover{background-color: #333;color:#fff;}

#onViewTwo{
	position: absolute;
	right: -20%;top: 0px;
	transition:0.8s;opacity:0;
}
#onViewTwo.move{right: 0;opacity:1;}

#onViewTwoTxt{
	position: absolute;left: 0;
	transition:0.8s;opacity:0;
}
#onViewTwoTxt.move{left: 26%;opacity:1;}


/*page04*/
.vTxt{
	position: absolute;left: 60%;
	top: 40%;
}
.vTxt h3{padding-bottom: 10px;}
.vTxt h1{padding-bottom: 10px;}
#page4 a{
	position: absolute;
	bottom: 40%;left: 60%;
	text-align: center;font-size:1em;
	display: block;width: 100px;height: 40px;
	line-height: 40px;border: 1px solid #333;
}
#page4 a:hover{
	background: #333;color:#fff;
}
.vWrap{
	width: 800px;height: 450px;
	left: 15%;
	position: relative;
}
#video{
	position: absolute;
	width: 100%;height: 100%;
	object-fit: cover;
}


/*font*/
.f3em{font-size:3em !important}
.f25em{font-size:2.5em !important}
.f2em{font-size:2em !important}
.f15em{font-size:1.5em !important}
.mb20{margin-bottom: 20px !important;}
.fserif{font-family:serif}

