@charset "utf-8";

/*header*/
#header{width: 100%;}
#header .hWrap{width: 1200px;margin: 0 auto;}
#header .hWrap ul{}
#header .hWrap ul li{}
#header .hWrap ul li.logo{float: left;line-height: 136px;font-size:2em;}
#header .hWrap ul li.gnbMenu{float: right;width: 360px;}
#header .hWrap ul li.gnbMenu a{
	float: left;display: block;text-align: center;width: 120px;line-height: 136px;
}

/*visual*/
section#visual{width: 100%;height: 788px;}
section#visual ul{width:1200px;height: 788px;margin: 0 auto;position: relative;}
section#visual ul li{}
section#visual ul li img.img{position: absolute;left: -121px;}
section#visual ul li .visualTxt{position: absolute;top: 250px;width: 500px;}
section#visual ul li .visualTxt h1{font-size:2.5em;margin-bottom: 50px;}
section#visual ul li .visualTxt a{
	font-weight:bold;font-size:1.2em;
	display: block;width: 292px;height: 76px;
	background: #444daa;color:#fff;
	text-align: center;line-height: 76px;
}

/*conOne*/
section#conOne{width: 1200px;margin: 0 auto;padding: 140px 0;}
section#conOne h1{font-size:3em;text-align: center;margin-bottom: 90px;}
section#conOne ul{}
section#conOne ul li{
	float: left;margin-right: 31.5px;
	box-shadow:0 20px 20px 0 rgba(133, 133, 133, 0.08);
}
section#conOne ul li:last-child{margin-right: 0;}

/*conTwo*/
section#conTwo{padding-bottom: 140px;}
section#conTwo .txt{text-align: center;margin-bottom: 90px;}
section#conTwo .txt h1{font-size:3em;margin-bottom: 28px;}
section#conTwo .txt p{}
section#conTwo ul{width: 1200px;margin: 0 auto;}
section#conTwo ul li{
	float: left;width: 380px;margin-right: 30px;
	box-shadow:0 20px 20px 0 rgba(133, 133, 133, 0.08);
}
section#conTwo ul li:last-child{margin-right: 0;}
section#conTwo ul li .txtBox{padding: 30px 30px;background:#fff;}
section#conTwo ul li .txtBox h3{margin-bottom: 10px;}
section#conTwo ul li .txtBox p{position: relative;margin-bottom: 10px;}
section#conTwo ul li .txtBox p>span{
	position: absolute;top: 0;right: 0;color:orange;font-weight:bold;
}

/*conThree*/
section#conThree{width: 1200px;margin: 0 auto;}
section#conThree .box1{padding-bottom: 140px;}
section#conThree .box1 ul{}
section#conThree .box1 ul li{float: left;}
section#conThree .box1 ul .movie{cursor:pointer;}
section#conThree .box1 ul .text{padding: 80px 0 80px 70px;}
section#conThree .box1 ul .text h1{font-size:1.9em;margin-bottom: 60px;}
section#conThree .box1 ul .text .tWrap{
	width: 230px;height: 74px;
	border-left: 5px solid #474da1;
	padding: 10px 0 10px 15px;
}
section#conThree .box1 ul .text .tWrap h3{font-size:1.9em;padding-bottom: 5px;}

section#conThree .box2{padding-bottom: 140px;}
section#conThree .box2 ul{}
section#conThree .box2 ul li{float: left;}
section#conThree .box2 ul .text{padding: 80px 70px 80px 0;}
section#conThree .box2 ul .text h1{font-size:1.9em;margin-bottom: 60px;}
section#conThree .box2 ul .text .tWrap{
	width: 230px;height: 74px;
	border-left: 5px solid #474da1;
	padding: 10px 0 10px 15px;
}
section#conThree .box2 ul .text .tWrap h3{font-size:1.9em;}
section#conThree .box2 ul .movie{cursor:pointer;}

section#conThree .box3{padding-bottom: 140px;}
section#conThree .box3 ul{}
section#conThree .box3 ul li{float: left;}
section#conThree .box3 ul .text{padding: 57px 0 57px 70px;}
section#conThree .box3 ul .text h1{font-size:3em;margin-bottom: 48px;}
section#conThree .box3 ul .text p{margin-bottom: 50px;font-size:1.2em;}
section#conThree .box3 ul .text a{
	font-weight:bold;font-size:1.2em;
	display: block;width: 292px;height: 76px;
	background: #444daa;color:#fff;
	text-align: center;line-height: 76px;
}

/*conFour*/
section#conFour{width: 1200px;margin: 0 auto;padding-bottom: 140px;}
section#conFour h1{font-size:3em;text-align: center;margin-bottom: 90px;}
section#conFour ul{}
section#conFour ul li{
	float: left;margin:0 40px 40px 0;
	border-radius:10px;
	background:#fff;box-shadow:10px 20px 20px 10px rgba(133, 133, 133, 0.08);
}
section#conFour ul li:nth-child(2){margin-right: 0;}
section#conFour ul li:nth-child(3){margin-bottom: 0;}
section#conFour ul li:nth-child(4){margin-bottom: 0;margin-right: 0;}
section#conFour ul li a{display: block;width: 580px;height: 190px;}
section#conFour ul li h3{font-size:1.6em;padding: 34px 0 15px 34px;}
section#conFour ul li p{padding-left: 34px;font-size:1.1em;}

/*footer*/
footer#footer{width: 1500px;height: 280px;margin: 0 auto;border-top: 0.5px solid #848484;}
footer#footer ul{width: 1200px;margin: 0 auto;padding-top: 40px;}
footer#footer ul li{float: left;}
footer#footer ul .logo{font-size:2em;font-weight:bold;}
footer#footer ul .snsBtn{float:right;}