@charset "utf-8";
body{
	font-family: 'Noto Sans KR', sans-serif;
	background-image:url(../images/bgimg_01.jpg);width:100%;
	background-repeat:no-repeat;margin: 0 auto;
}
fieldset{border:0 none;}
legend{display: block;position:absolute;left:0;top:-9999px;}


.utilMenuWrap{background: #0097e7;}

/*utilMenu*/
.utilMenu{width: 980px;height: 90px;margin: 0 auto;_background:gray;position: relative;}

.utilMenu .logo{position: absolute;left: 0;}
.utilMenu .logo a{display: block;width: 150px;line-height: 90px;color:white;font-size:1.5em;}

.utilMenu .searchBar{position: absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);}
.utilMenu .searchBar .searchInp{
	width: 290px;height: 30px;
	border-radius: 25px;text-indent:80px;
	font-size:12px;font-weight: bold;
	position: relative;
	z-index:1;
}
.utilMenu .searchBar .searchBtn{
	width: 20px;height: 20px;
	background-image: url(../images/search.jpg);
	text-indent:-9999px;
	border:0 none; 
	position: absolute;right: 20px;top: 7px;
	z-index:1;cursor: pointer;
}
.utilMenu .searchBar .searchTitle{
	display: block;
	width: 60px;height: 20px;
	background-image: url(../images/searchtext.jpg);
	text-indent:-9999px;
	position: absolute;top: 7px;left: 15px;
	z-index:2;
}

.utilMenu .menu{width: 300px;height: 90px;_background: #0f0;position: absolute;right: 0;}
.utilMenu .menu ul{position: relative;}
.utilMenu .menu ul>li.number{color:white;position: absolute;left: 0;top: 30px;}
.utilMenu .menu ul>li.snsBtn{position: absolute;right: 0;top: 30px;}

.mainGnb{background: #fff;border-bottom: 5px solid #0e73a7;}

/*navWrap*/
.navWrap{width: 980px;height: 60px;margin: 0 auto;}
.navWrap ul{}
.navWrap ul>li{float: left;/*문제야문제*//*border-right: 1px solid #000;*/}
.navWrap ul>li>a{width: 163.33px;line-height: 60px;display: block;text-align: center;}
.navWrap ul>li>a:hover{background: #0e73a7;color:white;}

#contents{width: 980px;margin: 0 auto;padding-top: 56px;position: relative;}
#contents .conWrapOne
#contents .conWrapOne .input {width: 480px;height: 300px;background: #cdcdcd;}
#contents .conWrapOne .input ul>li{float: left;}
#contents .conWrapOne .input .tabs{
	width: 130px;height: 300px;
	_background-color: yellow;overflow: hidden;
}
#contents .conWrapOne .input .tabs ul>li{
	display: block;width: 130px;line-height: 75px;
	text-align: center;color: #fff;border-bottom: 1px solid #00497c;
}
#contents .conWrapOne .input .tabs ul>li:hover{background: #fff;color:#333;}
#contents .conWrapOne .input .tabs .air{background:#00497c}
#contents .conWrapOne .input .tabs .htl{background:#006599}
#contents .conWrapOne .input .tabs .rent{background:#0099cb}
#contents .conWrapOne .input .tabs .rst{background:#0099cb}

#contents .conWrapOne .input .inputBox{width: 350px;height: 300px;background:#fff;}
		.formLayer{width: 278px;height: 250px;margin: 0 auto;}
		.formLayer fieldset{margin-bottom: 10px;}
		.formLayer label{display: block;padding:5px 0;font-size:12px}
		.formLayer select{
			width:270px;height: 32px;
			font-size:12px;text-indent: 10px;
			border-radius:5px;
		}
		.formLayer .left,
		.formLayer .right{float: left;width: 130px;font-size:12px}

		.formLayer .left{margin-right: 10px;}

		.formLayer .left input,
		.formLayer .right input{
			width: 100%;border-radius:10px;height: 32px;
			text-indent: 10px;font-size:12px;
			border: 1px solid #aaa;font-weight:bold;
		}
		.formLayer .tBtn{
			width: 100%;height: 32px;
			border:0 none;cursor:pointer;
			background:orange;color: white;
			font-weight;font-size:1em;
			border-radius: 10px;
			box-shadow: 2px 2px #cdcdcd;
			transition:0.3s;
		}
		.formLayer .tBtn:hover{transform:translate(3px,3px);box-shadow: 0px 0px #000}

#contents .conWrapOne .conWrap{padding: 16px 0;}
#contents .conWrapOne .conWrap ul{position: relative;width: 480px;}
#contents .conWrapOne .conWrap ul li{width: 232px;height: 232px;background: red;}
#contents .conWrapOne .conWrap .france{
	position: absolute;left: 0;overflow: hidden;}
#contents .conWrapOne .conWrap .france img{transform:scale(1.2);}
/*#contents .conWrapOne .conWrap .japen{position: absolute;right: 0;overflow: hidden;}
#contents .conWrapOne .conWrap .japan img{transform:scale(2);}*/

#contents .titleTxt{position: absolute;top: 60px;right:180px;color:#152630;}
#contents .titleTxt h1{font-size:50px;font-weight: bold;}
#contents .titleTxt p{font-size:24px;}